body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}


/* Landing Page */


/* if wan circle */
/* img {
    border-radius: 50%;
} */


.logo-picture {
    display: block;
    margin: 50% auto 0 auto;
    /* height: auto; */
    max-width: 60px;
}

.sys-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 10%;
}

.buttons {
    background-color: #8561e6;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 40px;
    width: 220px;
    display: flex;
    margin: 25px auto 0 auto;
    overflow: auto;
    transition-duration: 1s;
}

.button-text {
    margin-top: 2px;
    margin-left: 42px;
}

#long-btn-text {
    margin-left: 10px;
}

.button-icon {
    margin: 0 4% 0 6%;
    color: #fff;
    font-size: 20px;
}

.buttons:hover {
    background: #5327ca;
}

/* Check-In Vehicle */
.CI-header {
    margin-top: 50%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

form { 
    display: table;      
}

/* p { 
    display: table-row;  
} */

label { 
    display: flex; 
    font-weight: bold;
    font-size: 16px;
    margin-left: 20px;
}

input { 
    width: 100%;
    display: block;
    margin-left: 20px;
    padding: 3px;
}


#time-select,
#driver-select {
    display: inline-block;
    width: 50px;
    margin-left: 20px;
    padding: 3px;
}

#driver_name {
    display: inline-block;
    width: 71%;
    margin-left: -5px;
    padding: 3px
}


/* Search and Check-out Vehicle */
.box {
    background-color: #f0f0f0;
    width: 98%;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-left: 5px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
    margin-top: 70%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.input-bar {
    width: 70%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 6px;
}

.submit_btn {
    background-color: #8561e6;
    color: white;
    margin: 25px auto 0 auto;
    font-size: 17px;
    padding: 5px 15px;
    border: none;
    border-radius: 40px;
    transition-duration: 1s;
}

.submit_btn:hover {
    background: #5327ca;
}


.info {
    display: flex;
    color: #181b6b;
    font-family: Lucida Sans;
    font-weight: 500;
    padding: 5px 0 7px 20px;
    text-align: left;
}

/* Profile */
.page-header,
.invisible-box {
    font-weight: 500;
    border: none;
    width: 220px;
    display: inline-flex;
    margin: 100px auto 10px auto;
}

.header-icon {
    font-size: 45px;
    margin-left: 23px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 14px;
}

#long-header-text {
    margin-left: -10px;
    margin-top: -5px;
}

.only-icon {
    margin-top: 50%;
    margin-bottom: -10px;
    font-size: 64px;
}

.profile-icon {
    font-size: 50px;
    margin-left: 30px;
}

.profile-text {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 14px;
}

.CI-header-icon {
    color:#d00b0b; 
    font-size: 40px;
    margin-left: 15px;
    margin-right: -5px;
}

.CI-confirm-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: -30px;
    padding-right: 7px;
    text-align: left;
}

.CI-confirm-icon {
    color:#69df59; 
    font-size: 25px; 
    --ionicon-stroke-width: 40px;
    padding-top: 5px;
    margin-right: -20px;
}

.footer {
    clear: both;
    position: fixed;
    margin-left: 4px;
    font-size: 10px;
    font-weight: bold;
    bottom: 0px; 
    width: 100%; 
    height: 60px;
}

