body {
    background: #221a3f;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}


/* Landing Page */


/* if wan circle */
/* img {
    border-radius: 50%;
} */


.logo-picture {
    display: block;
    margin: 50% auto 0 auto;
    /* height: auto; */
    max-width: 60px;
}

.sys-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 10%;
}

.buttons {
    background-color: #8561e6;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 40px;
    width: 220px;
    display: flex;
    margin: 25px auto 0 auto;
    transition-duration: 1s;
}

.button-text {
    margin:auto;
}

.button-icon {
    margin: 0 4% 0 6%;
    color: #fff;
    font-size: 20px;
}

.buttons:hover {
    background: #5327ca;
}

/* Check-In Vehicle */
.CI-header {
    margin-top: 50%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

form { 
    display: table;      
}

p { 
    display: table-row;  
}

label { 
    display: table-cell; 
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 7px;
}

input { 
    display: table-cell; 
    width: 97%;
    /* padding: 5px; */
}

#driver-select {
    width: 45px;
    /* padding: 5px; */
}

#driver_name {
    margin-left: 5px;
    width: 72%;
    /* padding: 5px */
}


/* Search and Check-out Vehicle */

.box {
    background-color: #7b8edc;
    width: 100%;
    height: 30%;
    padding-top: 8%;
    padding-bottom: 8%;
    /* padding: 40px 40px 30px 40px;
    margin: 10px auto auto; */
}

.header {
    margin-top: 70%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.input-bar {
    width: 70%;
    display: block;
    margin: 20px auto 0 auto;
    padding: 6px;
}

.submit_btn {
    background-color: #8561e6;
    color: white;
    margin: 25px auto 0 auto;
    font-size: 17px;
    padding: 5px 15px;
    border: none;
    border-radius: 40px;
    transition-duration: 1s;
}

.submit_btn:hover {
    background: #5327ca;
}

.info {
    color: #181b6b;
    font-family: Lucida Sans;
    font-weight: 500;
    padding-left: 20px;
}

.footer {
    clear: both;
    position: fixed;
    margin-left: 4px;
    font-size: 10px;
    font-weight: bold;
    bottom: 0px; 
    width: 100%; 
    height: 60px;
}

